@charset "utf-8";
/*design by dede58.com*/
* {font-size: 12px;margin: 0px;padding: 0px;}
.main01{ background:url(../cgimg/main_01_bg.jpg); width:100%; text-align:center; height:538px;}
.main1{ background:url(../cgimg/top_bg02.jpg); width:100%; text-align:center; height:434px; overflow:hidden;}
.top{ width:1000px; margin:0 auto 0 auto;}
.logo{ width:215px; float:left; margin-top:18px;}
.nav{ width:778px; float:right;}
.nav li{ list-style-type:none; float:left; margin-left:12px; width:83px; text-align:center; font-family:"΢���ź�"; font-size:14px; height:103px; line-height:103px;}
.nav a{ color:#373737; text-decoration:none; display:block; font-family:"΢���ź�"; font-size:14px;}
.nav a:hover{ color:#fff; font-family:"΢���ź�"; font-size:14px;}
.nav #nav01 a:hover{ background:url(../cgimg/nav_button01.jpg);}
.nav #nav02 a:hover{ background:url(../cgimg/nav_button02.jpg);}
.nav #nav03 a:hover{ background:url(../cgimg/nav_button03.jpg);}
.nav #nav04 a:hover{ background:url(../cgimg/nav_button04.jpg);}
.nav #nav05 a:hover{ background:url(../cgimg/nav_button05.jpg);}
.nav #nav06 a:hover{ background:url(../cgimg/nav_button06.jpg);}
.nav #nav07 a:hover{ background:url(../cgimg/nav_button07.jpg);}
.nav #nav08 a:hover{ background:url(../cgimg/nav_button08.jpg);}
.main02{ width:1000px; margin:0 auto 0 auto;}
.category{ width:232px; float:left;}
.cate_list{ margin-top:5px;}
.cate_list li{ list-style-type:none; background:url(../cgimg/cate_list_bg01.jpg); width:213px; margin:0 auto 0 auto; height:33px; line-height:33px; text-align:center; margin-bottom:3px;}
.cate_list a{ display:block; color:#181717; text-decoration:none; font-family:"΢���ź�";}
.cate_list a:hover{ background:url(../cgimg/cate_list_bg02.jpg);display:block; color:#fff; text-decoration:none; font-family:"΢���ź�";}
.line{ width:2px; float:left; margin:0 5px 0 5px;}
.about{ width:390px; float:left;}
.about_pic{ text-align:center;}
.about_text{ width:95%; margin:0 auto 0 auto; text-indent:12px; line-height:1.5; color:#635f5f; margin-top:5px;}
.about_text a{ color:#635f5f; text-decoration:none;}
.about_text a:hover{ color:#333; text-decoration:none;}
.recommen{ width:340px; float:right;}
.recommen_pic{ margin-top:5px;}
.main03{ width:1000px; margin:6px auto 0 auto; clear:both; background:url(../cgimg/main03_top.jpg); background-repeat:no-repeat;}
.new01{ width:371px; float:left;}
.new01_list{ width:92%; margin:0 auto 0 auto;}
.new01_list li{ list-style-type:none; color:#636363; height:20px; padding-top:8px; border-bottom:1px dashed #bcbaba}
.new01_list span{ width:100px; float:right; text-align:center;}
.new01_list img{ margin-right:6px;}
.new01_list a{ color:#636363; text-decoration:none;}
.new01_list a:hover{ color:#000; text-decoration:none;}
.line2{ width:2px; margin:0 5px 0 5px; float:left;}
.new02{ width:358px; float:left;}
.contact{ width:244px; float:right; color:#636363;}
/*.contact_list li{ list-style-type:none; margin-top:10px; margin-bottom:10px;}*/
.contact_list{padding-bottom:8px;}
.main04{ width:1000px; margin:0 auto 0 auto; clear:both;}
.main04_border{ background:url(../cgimg/pro_bg.jpg); height:206px; overflow:hidden;}
.main04_border li{ list-style-type:none; text-align:center; width:203px; height:180px;float:left; margin:8px 15px 0 15px; background:url(../cgimg/pro-pic_bg.jpg);background-repeat:no-repeat; padding-top:5px;}
.main04_border a{ text-decoration:none; color:#5a5a5a;}
.main04_border a:hover{ text-decoration:none; color:#000;}
.foot{ background:url(../cgimg/foot_bg.jpg); height:246px; background-repeat:repeat-x;}
.foot01{ width:1000px; margin:0 auto 0 auto;}
.foot_line{ width:2px; float:left;}
.yqlj{ width:660px; float:left; margin-top:5px;}
.yqlj_list li{ list-style-type:none; float:left; margin-left:15px; width:120px; margin-right:15px; margin-top:10px;}
.yqlj_list a{ color:#f8f8f8; text-decoration:none;}
.yqlj_list a:hover{ color:#fff; text-decoration:none;}
.note{ width:337px; float:right; margin-top:5px;}
.foot{ clear:both;}
.foot02{ clear:both; width:1000px; margin:6px auto 0 auto; line-height:2.0; color:#ededed; text-align:center;}
.foot02 a{ color:#ededed; text-decoration:none;}
.foot02 a:hover{ color:#fff; text-decoration:none;}
.banner{ width:984px; background-color:#FFFFFF; padding:4px 0 4px 0; margin:15px auto 0 auto; clear:both;}
.banner2{ width:984px; background-color:#FFFFFF; padding:4px 0 4px 0; margin:15px auto 0 auto; clear:both;}
.zy{ width:1000px; margin:0 auto 0 auto;}
.zy_left{ background:url(../cgimg/zy_left_bg.jpg); width:209px; height:501px; float:left;}
.zy_fl{ margin-top:22px;}
.zy_fl_top{ text-align:right; height:34px; line-height:34px; color:#fff; font-size:16px; font-family:"΢���ź�";}
.zy_fl_top span{ font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#d0cbcb;}
.zy_fl_list{ margin-top:14px; margin-left:40px; width:145px;}
.zy_fl_list li{ list-style-type:none;text-align:center; background:url(../cgimg/zy_list_bg01.jpg); height:30px; line-height:30px; font-family:14px; font-family:"΢���ź�";}
.zy_fl_list a{ display:block; color:#716f6f; text-decoration:none; height:30px; background:url(../cgimg/zy_list_bg01.jpg); font-family:"΢���ź�";}
.zy_fl_list a:hover{ display:block; color:#fe8700; text-decoration:none; height:30px; background:url(../cgimg/zy_list_bg02.jpg); font-family:"΢���ź�"; }
.zy_icon01{ margin-left:17px;}
.zy_right{ width:781px; float:left; background:url(../cgimg/zy_right_bg02.jpg ); background-repeat:repeat-y;}
.zy_right_top{ overflow:hidden; height:80px;}
.zy_right01{ background:url(../cgimg/zy_right_bg.jpg ); background-repeat:no-repeat; width:791px; }
.zy_right_top_left{ width:80px; text-align:center; margin-left:28px; *margin-left:18px;_margin-left:18px; float:left; font-family:"΢���ź�"; font-size:16px; color:#f3f3f3;}
.zy_right_top_left span{ color:#c8c7c7; font-size:10px;}
.zy_right_top_right{ width:300px; float:right; margin-top:20px; text-align:center; color:#635f5f;}
.zy_new_list{ width:98%; margin:0 auto 0 auto; overflow:hidden;}
.zy_new_list li{ list-style-type:none; width:95%; margin:0 auto 0 auto; height:20px; padding-top:10px; border-bottom:1px dashed #bcbaba; color:#636363;}
.zy_new_list span{ width:100px; text-align:center; float:right;}
.zy_new_list img{ margin-right:6px;}
.zy_new_list a{ color:#636363; text-decoration:none;}
.zy_new_list a:hover{ color:#000; text-decoration:none;}
.zy_right01 a{ color:#636363; text-decoration:none;}
.zy_right01 a:hover{ color:#000; text-decoration:none;}




.zy_fy{ width:90%; margin:0 auto 0 auto; height:30px; line-height:30px; text-align:center;}
.zy_new_show{ width:90%; margin:0 auto 0 auto; text-indent:12px; line-height:20px; color:#636363;}



#demo { overflow:hidden; width: 970px; height:180px; margin-left:20px; padding-top:5px;} 
#demo img { padding:5px; border:0; border:1px solid #d0d4d5; margin-left:10px;} 
#indemo { float: left;  width: 800%; } 
#demo1 { float: left; } 
#demo2 { float: left; padding-left:5px;}

.classnews{ width:98%; margin:0 auto 0 auto; overflow:hidden;}
.classnews li{ list-style-type:none; width:95%; margin:0 auto 0 auto; height:20px; padding-top:10px; border-bottom:1px dashed #bcbaba; color:#636363;}
.classnews span{ width:100px; text-align:center; float:right;}
.classnews img{ margin-right:6px;}
.classnews a{ color:#636363; text-decoration:none;}
.classnews a:hover{ color:#000; text-decoration:none;}


.about-mid{  width:751px; padding-left:30px;  padding:10px;}
.about-mid h1{ color:#0f4c89; font-weight:bold; font-size:14px; text-align:center;}

.nierong3-1{width:100%;border-top:0;line-height:1.7;}
.nierong3-1 ul{list-style:none;margin:0;padding:0;}
.nierong3-1 li{float:left;}
.nierong3-1 li img{ border:0px;}

		
.propic {
	text-align: center;
	padding: 10px;
}

.product-2 {
	margin-left: 30px;
	line-height: 25px;
}


.newpro-ul {
	/*2?ulclass*/
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
	font-size: 12px;
	padding-top: 5px;

}
.newpro-ul li { float:left; width:230px;
        text-align:center;
        border:0; margin:3px 0;
}
.newpro-ul li img{ width:200px; height:138px;
        text-align:center;
        border:1px solid #ddd; padding:2px;
}
